@page "/"

<div class="card-holder">
        <div class="card" style="width: 18rem;">
            <NavLink class="nav-link" href="people">
                <img class="card-img-top" src="/images/dashboard/people.jpg" alt="Card image cap">
                <div class="overlay"></div>
                <div class="card-body">
                    <h4 class="card-text text-center">People</h4>
                </div>
            </NavLink>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/dashboard/places.jpg" alt="Card image cap">
            <div class="overlay"></div>
            <div class="card-body">
                <h4 class="card-text text-center">Places</h4>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/dashboard/things.jpg" alt="Card image cap">
            <div class="overlay"></div>
            <div class="card-body">
                <h4 class="card-text text-center">Things</h4>
            </div>
        </div>
</div>