@using game_of_thrones_411_blazor.Models

<div class="card" style="width: 250px">
    <NavLink href="@($"/person/{Person.slug}")">
    <img class="card-img-top" style="max-height:200px" src="@Person.image" alt="character image">
    <div class="card-body">
        <h5 class="card-title profile-text">@Person.name</h5>
        <p class="card-text profile-text">@Person.house</p>
    </div>
    </NavLink>
</div>

@functions {
    [Parameter]
    People Person { get; set; }
}